body {
    background-color: #f8f8f8;
}

h1 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
}

.types {
    text-align: center;
    margin-top: 20px;
}

.type {
    margin: 0px 20px;
    padding: 5px 10px;
    display: inline-block;
    background-color: #eee;
    font-size: 1.1em;
    border: 1px solid transparent;
}

.type a {
    color: #222;
    text-decoration: none;
}

.currentType {
    border: 1px solid #222;
}

.islands {
    text-align: left;
    font-size: 1.1em;
    display: flex;
    flex-flow: row wrap;
    margin-left: 10px;
}

.island {
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #999;
    padding: 15px;
    margin: 10px;
    width: 250px;
    background-color: #fcfcfc;
}

.category {
    color: #222;
    border-bottom: 2px solid #222;
    padding: 2px 5px 5px 8px;
    margin-top: 8px;
    font-weight: bold;
    font-size: 1.2em;
}

.name {
    font-weight: bold;
    margin-bottom: 5px;
}

.name a {
    color: #000;
    text-decoration: none;
}

.name a:hover {
    color: #666;
}

.descr {
    font-size: 0.8em;
}

.typeDescr {
    margin-top: 20px;
    margin-bottom: -15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    width: 600px;
    color: #333;
    font-family: sans-serif;
    font-size: 100%;
    font-weight: bold;
}
